//colors

$orange: #fd7e14;
$yellow: #ffc107;
$gray-300: #dee2e6;
$gray-900: #282800;

$primary: $orange;
$secondary: $gray-900;
$success: $yellow;

//theme-colors

$light: $gray-500;
$dark: $secondary;

//nav-links

$nav-link-color: $primary;
$nav-link-hover-color: $success;

//buttons
$btn-padding-y: 0.5rem;
$btn-padding-x: 0.75rem;

$padding: $btn-padding-y, $btn-padding-x;

//borders

$border-radius: none;

//box-shadow

$box-shadow: 0 0.5rem 1rem rgba($gray-900, 0.5);

//font

$font-family-sans-serif: "Tanker", "Supreme", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
